/*---------barve-----------*/
:root {
    --bela: #F1F1F1;
    --crna: #2B2B2B;
    --hover_modra: rgba(171, 190, 255, 0.68);
    --svetlo_modra: #4b6cb7;
    --temno_modra: #182848;
    --gradient_modra: linear-gradient(253deg, #4b6cb7 0%, #182848 100%);
}
/*---------barve-----------*/
.home-background {
    width: 100%;
    height: 97vh;
    background: linear-gradient(210deg, #4b6cb7 0%, #182848 100%);
    z-index: -30;
}
.regije-background {
    width: 100%;
    height: 250vh;
    background: linear-gradient(210deg, #4b6cb7 0%, #182848 100%);
    z-index: -30;
}
.navigation {
    z-index: 20;position:fixed;
    inset: 20px 0 20px 20px;
    width: 75px;
    background: var(--bela);
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 94vh;
}
.navigation.open {
    width: 250px;
}
.navigation .menuToggle {
    /* z-index: 20; */position:absolute;
    top:0;
    left: 0;
    width: 100%;
    height:60px;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    cursor:pointer;
    display: flex;
    align-items:center;
    justify-content:flex-start;
    padding: 0 23px;
    box-sizing: border-box;
}
.navigation .menuToggle::before {
    content:'';
    position:absolute;
    width:30px;
    height:2px;
    background:#333;
    transform: translateY(-8px);
    transition: 0.1s;
}
.navigation.open .menuToggle::before {
    transform: translateY(0px) rotate(45deg);
}
.navigation .menuToggle::after {
    content:'';
    position:absolute;
    width:30px;
    height:2px;
    background:#333;
    transform: translateY(8px);
    transition: 0.5s;
    box-shadow: 0 -8px 0 #333;
}
.navigation.open .menuToggle::after {
    transform: translateY(0px) rotate(-45deg);
    box-shadow: 0 0 0 #333;
}
.navigation ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.navigation ul li {
    list-style: none;
    position: relative;
    width: 100%;
    height: 60px;
    padding: 0 10px 10px;
    transition: 0.5s;
}
.navigation ul li.active {
    transform: translateX(30px);
}
.navigation.open ul li.active {
    transform: translateX(10px);
}
.navigation ul li a {
    position: relative;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    text-decoration: none;
}
.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 55px;
    height: 55px;
    line-height: 60px;
    transition: 0.5s;
    border-radius: 10px;
    font-size: 1.75em;
    color: var(--crna);
}
.navigation ul li.active a .icon {
    color: var(--bela);
    background: var(--svetlo_modra);
}
.navigation ul li a .icon::before {
    content: '';
    position:absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--svetlo_modra);
    filter: blur(7px);
    opacity: 0;
    transition: 0.5s;
}
.navigation ul li.active a .icon::before {
    opacity: 1;
}
.navigation ul li a .text {
    position: relative;
    padding: 0 15px;
    height: 60px;
    display: flex;
    align-items: center;
    color: var(--crna);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.navigation.open ul li a .text {
    opacity: 1;
    visibility: visible;
}
.navigation ul li.active a .text {
    color: var(--svetlo_modra);
}

/*------------------------------------home-container-----------------------------------*/
.home-container {
    color: var(--crna);
    background-color: #fff;
    position: relative;
    left: 290px;
    margin-right: 50px;
    display: inline-block;
    margin-top: 20px;
    
    width: 78vw;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
z-index: 1;}
.home-container2 {
    color: var(--crna);
    position: fixed;
    left: 1100px;
    margin-right: 50px;
    display: inline-block;
    margin-top: 20px;
    /* width: 80vw; */
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
}
.home-content {
    background-image: url(../slike/banner/default.png);
    background-position: center;
    width: 32vw;
    height: 18vh;
    border-radius: 8px;
    padding: 20px;
    color: var(--bela);
    margin-bottom: 2vw;
    margin-right: 2vw;
    position: relative;
    float: left;

    overflow: hidden;
}
.home-content a {
    text-decoration: none;
    color: var(--temno_modra);
    font-weight: 600;
    letter-spacing: 3px;
}
.home-content h3 {
    font-size: 2em;
    color: var(--bela);
    float: left;
    margin-right: 10px;
}
.home-content h4 {
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 2px;
    padding-top: 15px;
}
.home-content p {
    position: absolute;
    display: inline-block;
    top: 95px;
    left: 90px;
}
.home-content span {
    position: relative;
    display: inline-block;
    min-width: 55px;
    height: 55px;
    line-height: 60px;
    transition: 0.5s;
    border-radius: 10px;
    font-size: 4em;
    color: var(--bela);
}
.home-content a {
    text-decoration: none;
    color: var(--bela);
    transition: 0.3s;
}
#info-link {
    color: var(--temno_modra);
}
.home-content a:hover {
    cursor: pointer;
    color: var(--temno_modra);
    transition: 0.3s;
}


/*---------------trikotnik regija select-----------*/
.trikotnik1 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 220px 700px 0 0;
    border-color: var(--temno_modra) transparent transparent transparent;

    position: absolute;
    left: 0;
    top: 0;

    -moz-border-radius: 10px 10px 0 0;
}
.trikotnik2 {
    background-image: url(../slike/banner/default.png);
    width: 32vw;
    height: 0px;

    position: absolute;
    left: 20px;
    top: 10px;
    border-radius: 8px;
    -moz-border-radius: 10px 10px 0 0;
    z-index: -1;

    visibility: hidden;
    transition: 0.5s;

    opacity: 0;
    transform: translateY(-10px);
}

.home-content2{
    background-position: center;
    width: 32vw;
    height: 18vh;
    border-radius: 8px;
    padding: 20px;
    color: var(--bela);
    /* position: relative; */
    float: left;

    position: absolute;
    top: 0;
    left: 0;

    overflow: hidden;
}
.outer-trikotnik {
    background-position: center;
    width: 32vw;
    height: 18vh;
    border-radius: 8px;
    padding: 20px;
    color: var(--bela);
    /* position: relative; */
    float: left;
    position: relative;
    margin: 10px;
    margin-bottom: 16vh;
}

.home-content2:hover ~ .trikotnik2 {
    visibility: visible;
    height: 350px;
    transition: 0.5s;
    left: 20px;
    opacity: 1;
    transform: translateY(0px);
}
.trikotnik2:hover {
    visibility: visible;
    height: 350px;
    transition: 0.5s;
    left: 20px;
    opacity: 1;
    transform: translateY(0px);
}
/*----home-content-text-styling*/
.home-trikotnik-text {
    color: #fff;
    letter-spacing: 2px;
    position: absolute;
}
.home-trikotnik-text h2{
    padding-bottom: 0.3em;
}
.home-trikotnik-text p {
    font-size: 1em;
    padding-top: 0.1em;
}

.home-trikotnik2-text {
    height: 280px;
    top: 2.8vw;
    right: 1.2vw;
    color: var(--bela);
    position: relative;
}
.home-trikotnik2-text h2 {
    right: 0;
    top: 2vw;
    z-index: 100;
    position: absolute;
    letter-spacing: 2px;
}
.home-trikotnik2-text hr{
    border-top: 2px solid var(--bela);
    width: 50%;
    position: absolute;
    top: 4.2vw;
    right: 0;
}


.home-content2:hover ~ img {
    visibility: hidden;
    transition: 0.4s;
    height: 2vh;
}
.outer-trikotnik img {
    transition: 0.3s;
    opacity: 1;
    height: 28vh;
    width: 35vw;
    border-radius: 8px;
}


