/*---------barve-----------*/
:root {
    --bela: #F1F1F1;
    --crna: #2B2B2B;
    --hover_modra: rgba(171, 190, 255, 0.68);
    --svetlo_modra: #4b6cb7;
    --temno_modra: #182848;
    --gradient_modra: linear-gradient(253deg, #4b6cb7 0%, #182848 100%);
}
/*---------barve-----------*/
body {
    height: 100vh;
}

.outer-profile-container {
}
#profile_uporabnik_username {
    color: var(--bela);
    transition: .3s;
    text-decoration: none;
}
#profile_uporabnik_username:hover {
    color: var(--hover_modra);
}
.profile-left {
    width: 50%;
    height: 99vh;
    display: inline-block;
    background: var(--gradient_modra);
    position: relative;
}
.profile-left #profile-container-left {
    width: 70%;
    height: 65vh;
    padding: 2vw;
    padding-left: 4vw;
    margin: auto;
    margin: 0;
    color: var(--bela);
    background: rgba(255, 255, 255, 0.2);
    border-top-left-radius: 2vw;
    border-bottom-left-radius: 2vw;

    position: absolute;
    top: 15%;
    right: 0px;
}

.profile-right {
    width: 50%;
    height: 99vh;
    display: inline-block;
    vertical-align: top;
    background: var(--bela);
    align-items: center;
    position: relative;
}
.profile-right #profile-container-right {
    width: 70%;
    height: 67vh;
    padding: 1vw 2vw 2vw 2vw;
    margin: auto;
    margin: 0;
    color: #1e1e1e;
    background: red;

    border-top-right-radius: 2vw;
    border-bottom-right-radius: 2vw;

    background: var(--bela);
    background: linear-gradient(333deg, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 100%);

    position: absolute;
    top: 15%;

}
.profile-right #profile-container-right h2 {
    font-weight: 100;
    letter-spacing: 2px;
}

.profile-icon {
    position: absolute;
}
.dot-profile {
    height: 11vh;
    width: 14vh;
    position: relative;
    margin-left: -25px;
    /* background-color: var(--bela); */
    border-radius: 50%;
    display: inline-block;

    transition: 0.4s;
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}
#image-upload{
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}
.dot-profile:hover #image-upload{
    visibility: visible;
    opacity: 1;
}
#dot-profile_id:hover{
    cursor: pointer;
    transition: 0.4s;
    height: 12vh;
    width: 15vh;
    margin-top: -5px;
    margin-left: -28px;
}
.dot-profile #image-upload{
    width: 3vw;
    height: 3vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#image-upload img{
    filter: brightness(0) saturate(100%) invert(100%) sepia(55%) saturate(22%) hue-rotate(192deg) brightness(111%) contrast(89%);
}
#image-upload img:hover {
    cursor: pointer;
}
#profile-upload-icon-button{
    height: 100px;
    width: 100px;

    transition: fade 2s;

    display: inline-block;
    background-color: var(--svetlo_modra);
    border-radius: 50%;
    display: inline-block;
    border: none;
    color: var(--bela);
}
#image-upload>input{
    display: none;
}
/*---------------------banner-----------------*/
.banner-image {
    height: 22vh;
    width: 100vw;
    position: absolute;
    top: 0vw;
    left: 0vw;
}
#banner-profile-bg {
    height: 22vh;
    width: 100vw;
    border-top-left-radius: 2vw;
    display: inline-block;
    position: absolute;

    opacity: 0.7;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}
#h2-profile {
    letter-spacing: 0.3em;
    position: relative;
width: 30vw;}
/*---------------------banner-uplad-svg-----------------*/
#image-upload_b{
    visibility: visible;
    opacity: 0.4;
    transition: 0.3s;
    position: absolute;
    top: 0vw;
    right: 0.2vw;
    width: 5vw;
}
#image-upload_b:hover {
    visibility: visible;
    opacity: 1;
    width: 6vw;
}
#image-upload_b img{
    filter: brightness(0) saturate(100%) invert(100%) sepia(55%) saturate(22%) hue-rotate(192deg) brightness(111%) contrast(89%);
}
#image-upload_b img:hover {
    cursor: pointer;
}
#image-upload_b>input{
    display: none;
}

/*--------------------profile-seclet-option---------------------*/
.profile-select-option {
    margin-top: 16vh;
}
.select-content h3{
    font-size: 2em;
    letter-spacing: 0.15em;
}
.select-content{
    border-top-left-radius: 2vw;
    border-bottom-left-radius: 2vw;
    transition: 0.4s;
    background-color: rgba(171, 190, 255, 0);
    width: 60vw;
    padding: 10px;
    margin-bottom: 1vw;
    padding-left: 2vw;
}
.select-content:hover{
    transition: 0.4s;
    background-color: var(--hover_modra);
    cursor: pointer;
}
/*--------------------osebni-podatki-container---------------------*/
#profile-container-right h3{
    display: inline-block;
    font-size: 2.2vw;
}
#spremembe-hr{
    margin-top: 1vw;
    margin-bottom: 1vw;
    border: 2px solid var(--svetlo_modra);
    border-radius: 1vw;
}
#spremba-osebnih-podatkov-container {
    display: block;
}
#spremba-gesla-container, #izbris-profila-container, #ostale-info-container {
    display: none;
}
#profile-container-right input {
    font-size: 1em;
    position: relative;
    height: 2vw;
    background: #ebebeb;
    border-radius: 27px;
    padding: 0 1.2vw 0 1.2vw;
    margin-top: 0.4vw;

    outline: none;
    border: none;
}
#profile-container-right textarea {
    font-size: 1em;
    position: relative;
    height: 3.2vw;
    width: 30vw;
    background: #ebebeb;
    border-radius: 27px;
    padding: 0.4vw 1.2vw 0.4vw 1.2vw;
    margin-top: 0.4vw;

    resize: none;
    outline: none;
    border: none;
}
#profile-container-right label {
    margin-left: 1.2vw;
    margin-bottom: 1.2vw;
}
.osebni-block input{
    width: 20vw;
}
.osebni-inline {
    display: inline-block;
}
.osebni-inline input {
    width: 12vw;
}
.update-osebni-button {
    margin-left: 1.2vw;
    display: inline-block;
    /* margin-top: 1.2vw; */
    padding: 0 20px;
    width: 10vw;
    height: 1.8vw;
    background-color: var(--svetlo_modra);
    border-radius: 25px;
    font-size: 15px;
    color: var(--bela);
    text-transform: uppercase;

    border: none;
}
.update-osebni-button:hover {
    cursor: pointer;
}
#osebni-podatki-container select{
    font-size: 1em;
    position: relative;
    height: 2vw;
    background: #ebebeb;
    border-radius: 27px;
    padding: 0 1.2vw 0 1.2vw;
    margin-top: 0.4vw;

    outline: none;
    border: none;
}
/*------------------------spremema-gesla-container--------------------*/
.trenutno-geslo-block input{
    width: 20vw;
}
.trenutno-geslo-inline {
    display: inline-block;
}
.trenutno-geslo-inline input{
    width: 12vw;
}
/*------------------------upload-banner/profile-error-mesage--------------------*/
.error-message {
    color: #ff0000;
    font-size: 1.5em;
    position: absolute;
    top: -3.2vh;
    right: 1vh;
    transition: 0.5s;
}
.success-message {
    color: #00ff00;
    font-size: 1.5em;
    position: absolute;
    top: -3.2vh;
    right: 1vh;
    transition: 0.5s;
}
/*------------------------upload-banner--------------------*/
#upload-banner-popup {
    display: none;
}
#profile-upload-banner-button {
    display: none;
}
/*------------------------upload-icon--------------------*/
#profile-upload-icon-button {
    display: none;
}
#upload-profileicon-popup {
    display: none;
}
/*------------------------izbris-profila-container--------------------*/
.izbris-profila-block {
    margin-top: 4vh;
}
.izbris-profila-block2{
    margin-top: 2vh;
}
.izbris-profila-block label {
    font-size: 1.4em;
}
#izbris-radio-select{
    margin: 1vw;
    margin-left: 2vw;
    width: 20vw;
}
#spremembe-hr2 {
    margin-top: 1vw;
    margin-bottom: 1vw;
    border: 2px solid var(--crna);
    border-radius: 1vw;
}
.izbris-profila-block2 a {
    text-decoration: none;
    color: var(--svetlo_modra);
}
.izbris-profila-block2 h4 {
    font-size: 1.4em;
}
/*------------------------odjava-button--------------------*/
#odjava-button {
    position: absolute;
    top: 65vh;
    left: 4vw;
    margin-left: 1.2vw;
    display: block;
    margin-top: 1.2vw;
    padding: 0 20px;
    width: 8vw;
    height: 1.2vw;
    background-color: var(--svetlo_modra);
    border-radius: 25px;
    font-size: 0.9em;
    color: var(--bela);
    text-transform: uppercase;

    border: none;
}
#odjava-button:hover {
    cursor: pointer;
}
#odjava-link {
    text-decoration: none;
    color: var(--bela);
}

/*# sourceMappingURL=profile.css.map */