/*---------barve-----------*/
:root {
    --bela: #F1F1F1;
    --crna: #2B2B2B;
    --hover_modra: rgba(171, 190, 255, 0.68);
    --svetlo_modra: #4b6cb7;
    --temno_modra: #182848;
    --gradient_modra: linear-gradient(253deg, #4b6cb7 0%, #182848 100%);
}
/*---------barve-----------*/
.social-background {
    width: 100%;
    height: 97vh;
    background: linear-gradient(210deg, #4b6cb7 0%, #182848 100%);
    z-index: -30;
}

#objvava-container {
    top: 2vh;
    left: 30vh;
    position: absolute;
    width: 80vw;
    height: 93vh;
    border-radius: 8px;
    background-color: var(--bela);
}
/*---------------------------------------------objava-box----------------------*/
.objava-box {
    background-color: var(--bela);
    margin: 2vh;
    padding: 1vh;
    background: var(--gradient_modra);
    overflow: hidden;
    border-radius: 2vh;
    width: 90%;
/* height: 30vh; */}
.user-img-circle {
    height: 10vh;
    width: 10vh;
    position: relative;
    /* background-color: var(--bela); */
    border-radius: 50%;
    display: inline-block;
    transition: 0.4s;
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;

    display: inline-block;
    margin: 1vh;
    border: 2px solid var(--bela);
}
#objava-textarea {
    display: inline-block;
}
.objava-input {
    font-size: 1em;
    height: 3.2vw;
    width: 40vw;
    background: #ebebeb;
    color: var(--temno_modra);
    border-radius: 27px;
    padding: 0.4vw 1.2vw 0.4vw 1.2vw;
    margin-bottom: 1.6vh;
    resize: none;
    outline: none;
    border: none;

    display: inline-block;
}
.objava-dodatno {
    display: inline-block;
    position: absolute;
    top: 4vh;
}
#objava-slike-button {
    width: 10vh;
    height: 3vh;
    margin-left: 2vh;

    min-width: 55px;
    height: 55px;
    line-height: 60px;
    transition: 0.5s;
    border-radius: 10px;
    font-size: 2.8em;

    float: left;
}
#objava-slike-button ion-icon {
    transition: 0.3s;
    color: var(--hover_modra);
}
#objava-slike-button ion-icon:hover {
    font-size: 1.1em;
    transform: translateY(-3px) translateX(-3px);
    cursor: pointer;
    transition: 0.3s;
}
.username-input {
    margin-left: 2vh;
    float: left;
    clear: left;
}
.username-input select {
    padding: 0.3vh;
    font-size: 1em;
    background-color: var(--svetlo_modra);
    color: var(--bela);
    border: 2px solid var(--svetlo_modra);
    border-radius: 20px;
    width: 10.2vw;
}

#objava-button {
    display: block;
    padding: 0 20px;
    width: 8vw;
    height: 1.8vw;
    background-color: var(--svetlo_modra);
    border-radius: 25px;
    font-size: 15px;
    color: var(--bela);
    letter-spacing: 1px;
    text-transform: uppercase;
    border: none;
}

/*---------------------------row-objave-----------------------*/
.scroll-comments {
    overflow: scroll;
    overflow-x: hidden;
    height: 70vh;
}
.scroll-comments::-webkit-scrollbar {
    width: 10px;
}
.scroll-comments::-webkit-scrollbar-track {
    background-color: var(--svetlo_modra);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.scroll-comments::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px var(--hover_modra);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.comment-box {
    color: var(--crna);
    margin: 2vh;
    padding: 1vh 1vh 0vh 1vh;
    overflow: auto;
    overflow-x: hidden;
    position: relative;
}
.comment-box hr {
    width: 100%;
    border: 1px solid var(--svetlo_modra);
    border-radius: 8px;
    position: absolute;
    bottom: 0;
}
.objava-user-image {
    float: left;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    border: 2px solid var(--svetlo_modra);
}
.comment-possision {
    float: left;
    margin-left: 2vh;
    margin-bottom: 4vh;
}
.comment-paragraph {
    width: 70vw;
    display: block;
    word-wrap: break-word;

    min-height: 4vh;
    max-height: 40vh;
    overflow-x: hidden;
}
.username-color {
    color: var(--svetlo_modra);
    font-size: 1em;
    border-bottom: 1px solid var(--svetlo_modra);
    display: inline-block;
}
.delete-objava-btn {
    display: block;
    padding: 0 10px;
    width: 100px;
    height: 22px;
    background-color: var(--svetlo_modra);
    border-radius: 25px;
    font-size: 12px;
    color: var(--bela);
    letter-spacing: 0.8px;
    text-transform: uppercase;
    border: none;
    margin: 10px;
}
.edit-objava-btn {
    display: block;
    padding: 0 10px;
    width: 100px;
    height: 22px;
    background-color: var(--svetlo_modra);
    border-radius: 25px;
    font-size: 12px;
    color: var(--bela);
    letter-spacing: 0.8px;
    text-transform: uppercase;
    border: none;
    margin: 10px;
}
.edit-comment-form {
    position: absolute;
    bottom: 5px;
    right: 110px;
}
.delete-comment-form {
    position: absolute;
    bottom: 5px;
    right: 0;
}
.comment-info {
    display: inline-block;
}
.oznaka-urejeno {
    display: inline-block;
    color: #6B6B6BFF;
    border-bottom: 1px dashed #6B6B6BFF;
    font-size: 0.9em;
    transform: translateY(-22px) translateX(10px);
}
.oznaka-urejeno2 {
    display: inline-block;
    color: #6B6B6BFF;
    border-bottom: 1px dashed #6B6B6BFF;
    font-size: 0.9em;
    transform: translateY(-23px) translateX(0px);

    opacity: 0;
    transition: 0.3s;
    visibility: hidden;
}
.oznaka-urejeno:hover + .oznaka-urejeno2 {
    opacity: 1;
    visibility: visible;
    transition: 0.3s;
    transform: translateY(-23px) translateX(16px);
}
.oznaka-urejeno ion-icon {
    font-size: 1em;
    transform: translateY(2px);
}
/*------------------------------edit-comment--------------------*/
.edit-objava-texarea {
    font-size: 1em;
    position: relative;
    height: 250px;
    width: 50vw;
    background: #ebebeb;
    border-radius: 27px;
    padding: 0.4vw 1.2vw 0.4vw 1.2vw;
    margin-top: 0.4vw;
    resize: none;
    outline: none;
    border: none;
    font-size: .9em;
}
.edit-comment-box {
    background-image: url(../slike/banner/default.png);
    background-position: center;
    width: 75vw;
    height: 400px;
    border-radius: 8px;
    padding: 20px;
    color: var(--bela);
    margin-bottom: 1vw;
    margin-top: 2vh;
    margin-right: 2vw;
    position: relative;
    float: left;
    overflow: hidden;
    font-size: 1.2em;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.edit-objava-button {
    display: block;
    padding: 0 20px;
    width: 8vw;
    height: 1.8vw;
    background-color: var(--bela);
    border-radius: 25px;
    font-size: 15px;
    color: var(--crna);
    letter-spacing: 1px;
    text-transform: uppercase;
    border: none;
    transition: 0.3s;
}
.edit-objava-button:hover {
    cursor: pointer;
    background-color: var(--hover_modra);
    transition: 0.3s;
    border: 2px solid var(--bela);
    color: var(--bela);
}
.edit-old-objava {
    display: inline-block;
}
#nazaj-objava-button {
    position: absolute;
    bottom: 0px;
    left: 160px;
    margin-top: 10px;
    background-color: var(--svetlo_modra);
    color: var(--bela)
}
#nazaj-objava-button div {
    display: inline-block;
    width: 2em;
    height: 2em;
}
#nazaj-objava-button ion-icon {
    display: inline-block;
    font-size: 2em;
    transform: translateY(5px) translateX(-15px);
}
#nazaj-objava-button p {
    display: inline-block;
    transform: translateY(-7px) translateX(-10px);
}
#home-pozdrav {
    position: relative;
}
#home-pozdrav a {
    text-decoration: none;
}
#edit-container {
    color: var(--crna);
    background-color: #fff;
    position: relative;
    left: 290px;
    margin-right: 50px;
    display: inline-block;
    margin-top: 20px;
    width: 78vw;
    height: 75vh;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    z-index: 1;
}
#edit-container h4 {
    letter-spacing: 2px;
    font-size: 1.2em;
    color: var(--svetlo_modra);
    padding-bottom: 5px;
    border-bottom: 2px solid var(--svetlo_modra);
    text-transform: uppercase;
}
#objava-box {
    color: var(--crna);
    margin: 2vh;
    padding: 1vh 1vh 0vh 1vh;
    overflow: auto;
    overflow-x: hidden;
    position: relative;
}
.comment-paragraph-edit {
    width: 70vw;
    display: block;
    word-wrap: break-word;
    min-height: 4vh;
    max-height: 14vh;
    overflow-x: hidden;
}

