/*---------barve-----------*/
:root {
    --bela: #F1F1F1;
    --crna: #2B2B2B;
    --hover_modra: rgba(171, 190, 255, 0.68);
    --svetlo_modra: #4b6cb7;
    --temno_modra: #182848;
    --gradient_modra: linear-gradient(253deg, #4b6cb7 0%, #182848 100%);
}
/*---------barve-----------*/
.container {
    background: linear-gradient(253deg, #4b6cb7 0%, #182848 100%);
    width: 100vw;
    float: left;
    height: auto;
    display: table;
}
.levo {
    width:60vw;
    height: 97vh;
    /*background: #111;*/
    display: inline-block;  
    font-size: initial;
    /* IE 7 hack */
    *zoom:1;
    *display: inline;
    vertical-align: middle;
}
.desno {
    /*background-color: rgba(110, 144, 229, 0.05);*/
    width: 40vw;
    height: 97vh;
    display: table-cell;
    vertical-align: middle;
    position: relative;
}
.map{
    position: relative;
    margin-top: 10vw;
    margin-left: 3vw;
}
/*----------------------------------------DESNO------------------------------------------*/
.desno{
    --animate-duration: 1s;
}
.content-desno {
    width: 28vw;
    height: 70vh;
    color: #000;
    border-radius: 1.6vw;
    /* Center vertically and horizontally */
    position: absolute;
    top: 20%;
    left: 12%;
    background-color: #fff;
}
/*----------------------------------------registracija------------------------------------------*/
progress {
    -webkit-appearance: none;
    border: 0px solid var(--svetlo_modra);
    border-radius: 8px;
    margin: 1vw;
    width: 22vw;
}
::-webkit-progress-bar {
    background-color: #fff;

    border-radius: 8px;
}
::-webkit-progress-value {
    background-color: var(--svetlo_modra);
    border-radius: 8px;
}
::-moz-progress-bar {
    background-color: var(--svetlo_modra);
    border-radius: 8px;
}
.login_register_regija {
    width: 100%;
    height: 10vh;
    margin: 0 auto;
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 4vh;
    background-color: #4b6cb7;
    color: #fff;
    border-top-left-radius: 1.5vw;
    border-top-right-radius: 1.5vw;
}
.login_register_regija h2{
    font-size: 2.8em;
}
.login_register_regija p{
    font-size: 1.8em;
}
.user_boxa {
    position: relative;
    margin-top: 1vh;
    text-align: center;
    height: 40vh;
}
.inputBx {
    position: relative;
    width: 100%;
    background-color: #fff;
    border-radius: 27px;
    position: relative;
    z-index: 1;
    margin-bottom: 16px;
}
.inputBxPass {
    font-size: 15px;
    color: #3e849e;
    position: relative;
    width: 18vw;
    height: 3vw;
    background: #ebebeb;
    border-radius: 27px;
    padding: 0 35px 0 35px;

    outline: none;
    border: none;
}
.inputBx input{
    font-size: 15px;
    color: #3e849e;
    position: relative;
    width: 18vw;
    height: 3vw;
    background: #ebebeb;
    border-radius: 27px;
    padding: 0 35px 0 35px;

    outline: none;
    border: none;
}
.inputBx_submit {
    width: 100%;
    justify-content: center;
}
.inputBx_submit button {
    padding: 0 20px;
    width: 22vw;
    height: 50px;
    background-color: #4b6cb7;
    border-radius: 25px;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;

    border: none;
}
.inputBx_submit button:hover {
    cursor: pointer;
}
#regi_forgot_pwd{
    text-align: right;
    margin: 1vw;
    margin-right: 3.4vw;
}
#regi_forgot_pwd a{
    text-decoration: none;
    color: #3e849e;
}
.switchbox_link {
    text-align: right;
    margin: 1vw;
    margin-right: 3.4vw;
}
.switchbox_link a{
    text-decoration: none;
    color: #3e849e;
}
#reg_box1{
    display: block;
}
#reg_box2 {
    display: none;
}
#reg_box3 {
    display: none;
}
.error_reg {
    color: red;
    font-size: 0.8vw;
    position:absolute;
    left:17.7%;
    top: -0.5vw;
    z-index: 10;
}
#dateinput {
    height: 1vw;
}
input[type="date"]{
    background-color: #ebebeb;
    padding: 14px;
    /* position: absolute; */
    /* transform: translate(-50%,-50%); */
    /* top: 50%; */
    /* left: 50%; */
    color: rgba(51, 51, 51, 0.6);
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 27px;
    width: 20vw;
    
}
::-webkit-calendar-picker-indicator{
    background-color: #ebebeb   ;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}
.lastbuttons {
    margin-top: 20px;
    width: 45%;
    background-color: #fff;
    border-radius: 27px;
    position: relative;
    z-index: 1;
    margin-bottom: 16px;
    display: inline-block;
}
/*----------------------------------------reg_loader------------------------------------------*/
#reg_loader{
    height: 120px;
    width: 120px;
    box-sizing: border-box;
    border: 8px solid var(--svetlo_modra);
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: -120px;
    border-radius: 50%;
    background-color: #fff;
    animation: move1 1.5s infinite;
}
@keyframes move1{
    50%{
        left: 120px;
        z-index: 0;
    }
    51%{
        z-index: 2;
    }
    100%{
        left: -120px;
        z-index: 2;
    }
}
#reg_loader2{
    height: 120px;
    width: 120px;
    background-color: var(--svetlo_modra);
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 120px;
    right: 0;
    border-radius: 50%;
    animation: move2 1.5s infinite;
}
@keyframes move2{
    50%{
        left: -120px;
    }
    100%{
        left: 120px;
    }
}
/*----------------------------------------login------------------------------------------*/
#login-box {
    display: none
}
#login_text_bottom {
    position: absolute;
    bottom: 0;
    right: 0;
}
/*----------------------------------------pomurska-sijaj------------------------------------------*/
#pomurska_sijaj {
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    z-index: -1;
}
#pomurska_sijaj:hover {
    visibility: visible;
}
#pomurska:hover + #pomurska_sijaj{
    opacity: 1;
    visibility: visible;
}
#pomurska:hover {
    cursor: pointer;
}
/*----------------------------------------podravska-sijaj------------------------------------------*/

#podravska_sijaj {
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    z-index: -1;
}
#podravska_sijaj:hover {
    visibility: visible;
}
#podravska:hover + #podravska_sijaj{
    opacity: 1;
    visibility: visible;
}
#podravska:hover {
    cursor: pointer;
}
/*----------------------------------------obalno-kraska-sijaj------------------------------------------*/

#obalnokraska-sijaj {
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    z-index: -1;
}
#obalnokraska-sijaj:hover {
    visibility: visible;
}
#obalno-kraska:hover + #obalnokraska-sijaj{
    opacity: 1;
    visibility: visible;
}
#obalno-kraska:hover {
    cursor: pointer;
}
/*----------------------------------------koroska-sijaj------------------------------------------*/

#koroska_sijaj {
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    z-index: -1;
}
#koroska_sijaj:hover {
    visibility: visible;
    cursor: pointer;
}
#koroska:hover + #koroska_sijaj{
    opacity: 1;
    visibility: visible;
    cursor: pointer;
}
#koroska:hover {
    cursor: pointer;
}
/*----------------------------------------savinjska-sijaj------------------------------------------*/

#savinjska_sijaj {
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    z-index: -1;
}
#savinjska_sijaj:hover {
    visibility: visible;
    cursor: pointer;
}
#savinjska:hover + #savinjska_sijaj{
    opacity: 1;
    visibility: visible;
    cursor: pointer;
}
#savinjska:hover {
    cursor: pointer;
}
/*----------------------------------------zasavska-sijaj------------------------------------------*/

#zasavska_sijaj {
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    z-index: -1;
}
#zasavska_sijaj:hover {
    visibility: visible;
    cursor: pointer;
}
#zasavska:hover + #zasavska_sijaj{
    opacity: 1;
    visibility: visible;
    cursor: pointer;
}
#zasavska:hover {
    cursor: pointer;
}
/*----------------------------------------posavska-sijaj------------------------------------------*/

#posavska_sijaj {
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    z-index: -1;
}
#posavska_sijaj:hover {
    visibility: visible;
    cursor: pointer;
}
#posavska:hover + #posavska_sijaj{
    opacity: 1;
    visibility: visible;
    cursor: pointer;
}
#posavska:hover {
    cursor: pointer;
}
/*----------------------------------------jugo-vzhodna-sijaj------------------------------------------*/

#jugovzhodna-sijaj {
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    z-index: -1;
}
#jugovzhodna-sijaj:hover {
    visibility: visible;
    cursor: pointer;
}
#jugo-vzhodna-slo:hover + #jugovzhodna-sijaj{
    opacity: 1;
    visibility: visible;
    cursor: pointer;
}
#jugo-vzhodna-slo:hover {
    cursor: pointer;
}
/*----------------------------------------primorsko-notranjska-sijaj------------------------------------------*/

#primorskonotranjska_sijaj {
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    z-index: -1;
}
#primorskonotranjska_sijaj:hover {
    visibility: visible;
    cursor: pointer;
}
#primorsko-notranjska:hover + #primorskonotranjska_sijaj{
    opacity: 1;
    visibility: visible;
    cursor: pointer;
}
#primorsko-notranjska:hover {
    cursor: pointer;
}
/*----------------------------------------goriska-sijaj------------------------------------------*/

#goriska_sijaj {
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    z-index: -1;
}
#goriska_sijaj:hover {
    visibility: visible;
    cursor: pointer;
}
#goriska:hover + #goriska_sijaj{
    visibility: visible;
    opacity: 1;
    cursor: pointer;
}
#goriska:hover {
    cursor: pointer;
}
/*----------------------------------------gorenjska-sijaj------------------------------------------*/

#gorenjska_sijaj {
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    z-index: -1;
}
#gorenjska_sijaj:hover {
    visibility: visible;
    cursor: pointer;
}
#gorenjska:hover + #gorenjska_sijaj{
    opacity: 1;
    visibility: visible;
    cursor: pointer;
}
#gorenjska:hover {
    cursor: pointer;
}
/*----------------------------------------osrednjeslovenska-sijaj------------------------------------------*/

#osrednjeslovenska_sijaj {
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    z-index: -1;
}
#osrednjeslovenska_sijaj:hover {
    visibility: visible;
    cursor: pointer;
}
#osrednje-slovenska:hover + #osrednjeslovenska_sijaj{
    opacity: 1;
    visibility: visible;
    cursor: pointer;
}
#osrednje-slovenska:hover {
    cursor: pointer;
}

/*------------------------upload-banner/profile-error-mesage--------------------*/
.error-message-index {
    color: #ff0000;
    font-size: 1.5em;
    position: absolute;
    top: -3.2vh;
    left: 1vh;
    transition: 0.5s;
}
.success-message-index {
    color: #00ff00;
    font-size: 1.5em;
    position: absolute;
    top: -3.2vh;
    right: 1vh;
    transition: 0.5s;
}
/*----------------------------------------input-bx-animate------------------------------------------*/

